<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./resources/css/style.css">
</head>
<body>
    <form action="/save" method="post" class="container">
        <h1>Iniciar sesion</h1>
        <div class="inputBox">
            <input type="text" name="user" id="user" required>
            <span class="linea">Nombre de usuario</span>
        </div>
        <div class="inputBox">
            <input type="password" name="password" id="password" required>
            <span class="linea">Contraseña</span>
        </div>

        <button type="submit">Ingresar</button>
    </form>
</body>
</html>