<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/sigin" method="post">
            <h1>Registrar usuario</h1>
            <div class="inputBox">
                <input type="text" name="user" id="user" required>
                <span class="linea">Ingrese un nombre de usuario</span>
            </div>
            <div class="inputBox">
                <input type="password" name="pass" id="pass" required>
                <span class="linea">Ingrese una contraseña</span>
            </div>
            <div class="containerS">
                <label for="ID_deb">Area: </label>
                <select name="ID_deb" id="ID_deb">
                    <% deb.forEach((depart)=>{ %>
                        <option value=<%= depart.ID_deb%>><%= depart.NAME_deb%></option>
                    <%})%>
                </select>
            </div>
            
            <div class="botones">
                <button type="submit">Ingresar datos</button>
                <a href="/">Volver</a>
            </div>
        </form>
    </div>
    
</body>
</html>