@keyframes desplazar{
    from{transform: translateX(200px);}
    to{transform: translateX(0px);}
}

.desplegar{
    animation-name: desplazar;
    animation-duration: 0.5s;
}

.visible{
    visibility: visible;
}

.hidden{
    visibility: hidden;
    display: none;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: ghostwhite;
    min-height: 100vh;
}

/*login*/

.container{
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(247, 238, 227);
    height: 400px;
    width: 80%;
    padding: 1%;
    border-radius: 25px;
}

.container h1{
    color: rgb(65, 37, 3);
    text-align: center;
}

.inputBox{
    position: relative;
    width: 90%;
    transition: ease-in;
}

.inputBox input{
    background-color: ghostwhite;
    border-style: none;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: rgb(223, 185, 138) 3px solid;
    color: rgb(65, 37, 3);
    outline: none;
    transition: ease-in;
}

.linea{
    position: absolute;
    padding: 10px;
    left: 0;
    top: 0;
    color: rgb(223, 185, 138);
    pointer-events: none;
}

.inputBox input:active,
.inputBox input:valid,
.inputBox input:hover{
    border: rgb(230, 146, 44) 3px solid;
}

.inputBox input:focus ~ .linea,
.inputBox input:valid ~ .linea{
    color: rgb(230, 146, 44);
    transform: translateY(-70%);
}

.container button{
    border-style: none;
    background-color:  ghostwhite;
    width: 85%;
    height: 15%;
    border: rgb(196, 128, 46) 2px solid;
    color: rgb(90, 53, 7);
    border-radius: 20px;
    font-size: 120%;
}

.container button:hover,
.container button:active{
    background-color: rgb(230, 136, 22);
    border: rgb(230, 136, 22) 2px solid;
    color: rgb(247, 243, 240);
}

/*index*/

/*header*/
header{
    z-index: 5;
    position: fixed;
    top: 0;
    margin: 0;
    background-color: rgb(196, 128, 46);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
}

.logo{
    margin-left: 5%;
    width: 10%;
}

.menu{
    background-color: transparent;
    width: 15%;
    height: 100%;
    border-style: none;
    cursor: pointer;
    text-align: center;
    font-size: 220%;
}

.opciones{
    position: absolute;
    height: 3000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    background-color: rgba(63, 38, 7, 0.445);
    backdrop-filter: blur(12px);
}
.opciones div{
    padding-right: 1%;
    padding-top: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 10px;
    width: 70%;
    height: 100%;
    background-color: rgb(196, 128, 46);
}

.opciones button{
    border-style: none;
    background-color: transparent;
    height: 3%;
    width: 11%;
    font-size: 200%;
    padding: 0;
}
.opciones button ion-icon{
    color: rgb(65, 37, 3);
}
.opciones button:hover,
.opciones button:active{
    background-color: rgb(138, 77, 4);
}

.opciones li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 30px;
}
.opciones ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.opciones a{
    color: rgb(65, 37, 3);
    padding: 5px;
    text-decoration: none;
    font-size: 110%;
    cursor: pointer;
}
.opciones a ion-icon{
    font-size: 125%;
}
.opciones ul:hover,
.opciones a:active ~ ul{
    background-color: rgb(138, 77, 4);
    box-shadow: rgba(56, 31, 1, 0.377) 0.5px 0.5px, rgba(77, 62, 45, 0.377) -0.5px -0.5px;
}

.logout{
    color: rgb(65, 37, 3);
    padding: 5px;
    text-decoration: none;
    font-size: 110%;
    cursor: pointer;
    width: 90%;
    text-align: end;
}
.logout:hover{
    background-color: rgb(138, 77, 4);
    box-shadow: rgba(56, 31, 1, 0.377) 0.5px 0.5px, rgba(77, 62, 45, 0.377) -0.5px -0.5px;
}

.logoutB{
    color: rgb(65, 37, 3);
    padding: 5px;
    text-decoration: none;
    font-size: 180%;
    cursor: pointer;
    width: 20%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoutB:hover{
    background-color: rgb(138, 77, 4);
    box-shadow: rgba(56, 31, 1, 0.377) 0.5px 0.5px, rgba(77, 62, 45, 0.377) -0.5px -0.5px;
}
/*aplicaciones*/
.app-container{
    margin-top: 20%;
    display: grid;
    grid-template-columns: repeat(3, 28%);
    width: 100%;
    grid-gap: 10%;
    grid-auto-rows: 20%;
}

.app{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}


.app a{
    border-radius: 10px;
    color: rgb(65, 37, 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    width: 50%;

}
.app a:hover,
.app a:active{
    box-shadow: rgba(0, 0, 0, 0.596) 2px 1px,rgba(255, 255, 255, 0.795)  -1px -2px;
}

.app img{
    border-radius: 10px;
    width: 55px;
    height: 55px;
    margin-bottom: 2%;
}

.app div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.new{
    border: rgb(65, 37, 3) 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 100%;
}

.edit{
    border: none;
    border-radius: 6px;
    padding: 3px;
    background-color: rgb(181, 181, 245);
}
.edit:hover,
.edit:active{
    box-shadow: rgb(181, 181, 245) 2px 3px;
    color: antiquewhite;
    background-color: rgb(45, 45, 226);
}

.borrar{
    border-radius: 6px;
    padding: 3px;
    background-color: rgb(245, 170, 170);
}
.borrar:hover,
.borrar:active{
    box-shadow: rgb(245, 181, 181) 2px 3px;
    color: antiquewhite;
    background-color: rgb(226, 51, 45);
}

/*formularios*/
.ImgApp{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.ImgApp input[type="file"]{
    background-color: bisque;
    width: 90%;
    height: 40px;
    font-size: 80%;
    display: flex;
    border-radius: 15px;
    color: rgb(65, 37, 3);
}

::-webkit-file-upload-button{
    width: 40%;
    height: 100%;
    font-size: 70%;
    border-style: none;
    background-color: rgb(223, 185, 138);
}

::-webkit-file-upload-button:hover,
::-webkit-file-upload-button:active{
    background-color: rgb(230, 146, 44);
}

.ImgApp label{
    color: rgb(148, 84, 5);
    font-size: 110%;
}

.containerS{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap:10px;
    font-size: 110%;
}

.containerS select{
    height: 40px;
    width: 70%;
    padding: 5px;
    border-radius: 15px;
    border: none;
    background-color: rgb(223, 185, 138);
    color: rgb(65, 37, 3);
    text-align: center;
    position: relative;
    appearance: none;
}

.containerS select:hover{
    background-color: rgb(230, 146, 44);
    border: rgb(230, 146, 44) 3px solid;
}

.containerS label{
    color: rgb(148, 84, 5);
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.botones button{
    width: 45%;
    height: 50px;
    font-size: 90%;
}

.botones a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: rgb(196, 128, 46) 2px solid;
    background-color: rgb(196, 128, 46);
    color: rgb(241, 231, 218);
    border-radius: 20px;
    width: 40%;
    height: 40px;
    font-size: 110%;
}

.botones a:active,
.botones a:hover{
    background-color: rgb(212, 122, 11);
    border: rgb(212, 122, 11) 2px solid;
}

.imgOld{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    font-size: 110%;
    padding: 1%;
    color: rgb(65, 37, 3);
    gap: 10px;
}

.imgOld img{
    width: 45px;
    height: 45px;
    border: 0.5px solid rgb(65, 37, 3);
    border-radius: 5px;
}

.imgOld span{
    background-color: rgb(223, 185, 138);
    padding: 5px;
    border-radius: 10px;
    width: 60%;
    text-align: center;
}

.expand form{
    height: 500px;
}


@media (min-width:426px) {
    /*login*/

    .container{
        width: 50%;
    }

    .container input{
        width: 95%;
    }

    .container button{
        width: 90%;
    }

    /*index*/
    header{
        height: 13%;
    }

    .logo{
        width: 6%;
    }

    .menu{
        display: none;
    }

    .opciones{
        visibility: visible;
        background-color: transparent;
        backdrop-filter: none;
        height: 100%;
        width: 60%;
        right: 0;
    }

    .opciones div{
        padding-top: 0;
        padding-right: 0;
        gap: 0;
        flex-direction: row;
        height: 100%;
    }

    .opciones button{
        display: none;
    }

    .opciones li{
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .opciones ul{
        height: 100%;
        width: 100%;
        font-size: 100%;
        font-weight: bold;
        text-align: center;
    }

    .opciones ul ion-icon{
        display: none;
    }

    .opciones a{
        color: antiquewhite;
        text-shadow: 1px 1px 1px rgb(65, 37, 3);
    }

    .logout{
        height: 89%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
    }

    .opciones a ion-icon{
        display: none;
    }

    .app-container{
        grid-gap: 7%;
    }
    
    .app img{
        width: 70px;
        height: 70px;
    }
    
    .new{
        width: 70px;
        height: 70px;
        font-size: 120%;
    }
}

@media (min-width:768px){
    .container{
        font-size: 140%;
    }

    .container form{
        width: 100%;
        padding: 5%;
    }

    .container input{
        font-size: 100%;
        width: 95%;
        height: 60%;
    }
}

@media (min-width: 1024px) {

    header{
        font-size: 125%;
        height: 20%;
    }

    .app{
        font-size: 150%;
    }

    .app img{
        width: 100px;
        height: 100px;
    }

    .new{
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 1440px){
    .container form{
        height: 800px;
        width: 60%;
        font-size: 150%;
    }

    .container input{
        height: 70%;
    }

    header{
        font-size: 250%;
    }

    .app{
        font-size: 250%;
    }

    .app img{
        width: 200px;
        height: 200px;
    }

    .new{
        width: 200px;
        height: 200px;
    }
}